<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Profile | IT SUTRAA</title>
</head>
<body>
	<h2>Welcome, <span th:text="${student.name}">Student</span></h2>
	<a href="/logout" class="logout-btn">Logout</a>
	
	
	view <a href="/courses">Courses</a> for enrolling

	<h3>Your Enrolled Courses</h3>

	<div class="enrolled-courses-grid">
	    <div class="course-card" th:each="enroll : ${enrollments}">
	        <img th:src="@{${enroll.course.imageUrl}}" alt="Course Image" />
	        <div class="course-details">
	            <h4 th:text="${enroll.course.title}">Course Title</h4>
	            <p>₹<span th:text="${enroll.course.price}"></span></p>
	        </div>
	    </div>
	</div>

</body>
<div class="watermark"></div>
</html>
